body {
  background-color: #000000;
  font-family: "Space Mono", monospace;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: 0.3s ease-in-out;
}

a:hover {
  font-weight: 700;
}

nav a {
  margin: 0 5px;
}

header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px 0 10px;
  background-color: rgba(100, 100, 100, 0.178);
  border-radius: 80px;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  z-index: 1000;
  box-shadow: rgba(156, 156, 156, 0.144) 0px 5px 15px;
}

#home,
#repositorios {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 20px;
}


#bg-video,
.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#bg-video {
  pointer-events: none;
}

#home::after {
  height: 150px;
}

.home-content {
  position: relative;
  max-width: 700px;
  margin: 0 auto;
  z-index: 1;
  /* garante que o texto fique acima do vídeo */
  color: white;
  text-align: center;
  /* centraliza verticalmente */
}

.home-content h1 {
  margin-bottom: 20px;
  /* espaço menor abaixo do título */
}

.home-content p,
.repositorios p {
  margin-top: 0;
  margin-bottom: 30px;
  /* remove o espaço extra acima do parágrafo */
}

.btn {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px 30px;
  border-radius: 50px;
  box-shadow: rgba(156, 156, 156, 0.445) 0px 5px 15px;
}

.btn:hover {
  box-shadow:
    0 0 0 5px rgba(0, 0, 0, 0.7),
    0 0 0 10px rgba(255, 255, 255, 0.185),
    rgba(156, 156, 156, 0.56) 0px 22px 70px 4px;
  font-weight: 400;
}

#repositorios::before,
#repositorios::after,
#home::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 1;
  /* fica acima do conteúdo */
}

#repositorios::before,
#repositorios::after {
  height: 50px;
}

/* Gradiente no topo */
#repositorios::before {
  top: 0;
  background: linear-gradient(to top,
      transparent 0%,
      rgba(0, 0, 0, 0.8) 60%,
      #000 100%);
}

/* Gradiente embaixo */
#repositorios::after,
#home::after {
  bottom: 0;
  background: linear-gradient(to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.8) 60%,
      #000 100%);
}


.image {
  filter: brightness(40%);
}

.repositorios {
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}

.repositorios h2,
#sobre-mim h2 {
  font-size: xx-large;
  text-align: center;
}

.sobre-mim {
  position: relative;
  line-height: 1.6;
  max-width: 900px;
  margin: auto;
  text-align: justify;
  padding: 20px;
}

#foto {
  float: right;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  shape-outside: circle(50%);
  clip-path: circle(50%);
  margin-left: 20px;
  object-fit: cover;
}
